footer {
  background-color: #4a1a7d; }
  footer .footer__container {
    margin: 0 auto; }
    footer .footer__container .footer_row {
      margin: 0 auto; }
    footer .footer__container p {
      color: white; }
    footer .footer__container h5 {
      margin-top: 100px;
      color: white;
      margin-bottom: 50px;
      font-weight: bold; }
    footer .footer__container h6 {
      color: white; }
    footer .footer__container .column-1 {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      footer .footer__container .column-1 img {
        width: 100px;
        height: 100px; }
      footer .footer__container .column-1 h6 {
        margin: 20px 0; }
      footer .footer__container .column-1 .footer-social__flex {
        display: flex;
        padding-top: 40px; }
        footer .footer__container .column-1 .footer-social__flex span {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          width: 50px;
          height: 50px;
          padding: 5px; }
          footer .footer__container .column-1 .footer-social__flex span i {
            color: white;
            font-size: 24px; }
        footer .footer__container .column-1 .footer-social__flex .footer-social__flex-facebook span {
          background-color: #3b5998; }
        footer .footer__container .column-1 .footer-social__flex .footer-social__flex-inst {
          margin: 0 20px; }
          footer .footer__container .column-1 .footer-social__flex .footer-social__flex-inst span {
            background-color: #cf1384; }
        footer .footer__container .column-1 .footer-social__flex .footer-social__flex-youtube span {
          background-color: red; }
    footer .footer__container .column-2 {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      footer .footer__container .column-2 ul {
        padding: 0;
        list-style: inside;
        color: white; }
        footer .footer__container .column-2 ul li {
          padding: 5px 0; }
        footer .footer__container .column-2 ul ul:first-child {
          padding: 0; }
        footer .footer__container .column-2 ul a {
          text-decoration: none;
          color: white;
          padding: 0; }
    footer .footer__container .column-3 {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      footer .footer__container .column-3 .footer__news-1 {
        width: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        footer .footer__container .column-3 .footer__news-1 .footer__news-div {
          display: flex;
          justify-content: center;
          text-align: center; }
          footer .footer__container .column-3 .footer__news-1 .footer__news-div img {
            width: 50px;
            height: 50px;
            margin-right: 20px; }
          footer .footer__container .column-3 .footer__news-1 .footer__news-div p {
            width: 170px; }
      footer .footer__container .column-3 .footer__flex-news-2 {
        width: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        footer .footer__container .column-3 .footer__flex-news-2 .footer__news-div {
          display: flex;
          justify-content: center; }
          footer .footer__container .column-3 .footer__flex-news-2 .footer__news-div img {
            width: 50px;
            height: 50px;
            margin-right: 20px; }
          footer .footer__container .column-3 .footer__flex-news-2 .footer__news-div p {
            width: 170px; }
    footer .footer__container .column-4 {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }

/*# sourceMappingURL=footer.css.map */
