@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kurale&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  background-color: #4a1a7d; }
  header .header__container {
    width: 1200px; }
    @media (max-width: 1440px) {
      header .header__container {
        width: 960px; } }
    @media (max-width: 992px) {
      header .header__container {
        width: 720px; } }
    header .header__container .header__flex {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header .header__container .header__flex .header__flex__item {
        display: flex;
        justify-content: center; }
        header .header__container .header__flex .header__flex__item .first__item {
          display: flex;
          justify-content: center;
          color: white;
          margin-right: 30px; }
          header .header__container .header__flex .header__flex__item .first__item a {
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: white;
            transition-duration: 0.5s; }
            header .header__container .header__flex .header__flex__item .first__item a p {
              margin: 0; }
              @media (max-width: 1440px) {
                header .header__container .header__flex .header__flex__item .first__item a p {
                  font-size: 13px; } }
              @media (max-width: 992px) {
                header .header__container .header__flex .header__flex__item .first__item a p {
                  font-size: 11px; } }
            header .header__container .header__flex .header__flex__item .first__item a .icon-location, header .header__container .header__flex .header__flex__item .first__item a .icon-phone, header .header__container .header__flex .header__flex__item .first__item a .icon-mail {
              margin-right: 5px; }
              @media (max-width: 1440px) {
                header .header__container .header__flex .header__flex__item .first__item a .icon-location, header .header__container .header__flex .header__flex__item .first__item a .icon-phone, header .header__container .header__flex .header__flex__item .first__item a .icon-mail {
                  font-size: 13px; } }
              @media (max-width: 992px) {
                header .header__container .header__flex .header__flex__item .first__item a .icon-location, header .header__container .header__flex .header__flex__item .first__item a .icon-phone, header .header__container .header__flex .header__flex__item .first__item a .icon-mail {
                  font-size: 11px; } }
            header .header__container .header__flex .header__flex__item .first__item a:hover {
              color: yellow; }
        header .header__container .header__flex .header__flex__item:last-child {
          margin-right: 0; }
        header .header__container .header__flex .header__flex__item .second__item {
          margin-right: 10px;
          color: white; }
          header .header__container .header__flex .header__flex__item .second__item a {
            text-decoration: none;
            color: white; }
            header .header__container .header__flex .header__flex__item .second__item a .icon-facebook-squared, header .header__container .header__flex .header__flex__item .second__item a .icon-instagram, header .header__container .header__flex .header__flex__item .second__item a .icon-youtube-play {
              font-size: 25px;
              transition-duration: 0.5s;
              margin-right: 5px; }
              @media (max-width: 992px) {
                header .header__container .header__flex .header__flex__item .second__item a .icon-facebook-squared, header .header__container .header__flex .header__flex__item .second__item a .icon-instagram, header .header__container .header__flex .header__flex__item .second__item a .icon-youtube-play {
                  font-size: 20px; } }
            header .header__container .header__flex .header__flex__item .second__item a:hover {
              color: yellow; }
        header .header__container .header__flex .header__flex__item:last-child {
          margin-right: 0; }

footer {
  background-color: #4a1a7d; }
  footer p {
    color: white; }
  footer h5 {
    margin-top: 100px;
    color: white;
    margin-bottom: 50px;
    font-weight: bold; }
  footer h6 {
    color: white; }
  footer .column-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .column-1 img {
      width: 100px;
      height: 100px; }
    footer .column-1 h6 {
      margin: 20px 0; }
    footer .column-1 .footer-social__flex {
      display: flex;
      padding-top: 40px; }
      footer .column-1 .footer-social__flex span {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        padding: 5px; }
        footer .column-1 .footer-social__flex span i {
          color: white;
          font-size: 24px; }
      footer .column-1 .footer-social__flex .footer-social__flex-facebook span {
        background-color: #3b5998; }
      footer .column-1 .footer-social__flex .footer-social__flex-inst {
        margin: 0 20px; }
        footer .column-1 .footer-social__flex .footer-social__flex-inst span {
          background-color: #cf1384; }
      footer .column-1 .footer-social__flex .footer-social__flex-youtube span {
        background-color: red; }
  footer .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left; }
    footer .column-2 ul {
      padding: 0;
      list-style: inside;
      color: white; }
      footer .column-2 ul li {
        padding: 5px 0; }
      footer .column-2 ul ul:first-child {
        padding: 0; }
      footer .column-2 ul a {
        text-decoration: none;
        color: white;
        padding: 0; }
  footer .column-3 .footer__news-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid grey; }
    footer .column-3 .footer__news-1 .footer__news-div {
      display: flex; }
      footer .column-3 .footer__news-1 .footer__news-div img {
        width: 50px;
        height: 50px;
        margin-right: 20px; }
      footer .column-3 .footer__news-1 .footer__news-div p {
        width: 170px; }
  footer .column-3 .footer__flex-news-2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start; }
    footer .column-3 .footer__flex-news-2 .footer__news-div {
      display: flex;
      justify-content: space-between; }
      footer .column-3 .footer__flex-news-2 .footer__news-div img {
        width: 50px;
        height: 50px;
        margin-right: 20px; }
      footer .column-3 .footer__flex-news-2 .footer__news-div p {
        width: 170px; }

.news__section {
  background-color: #bae7ff;
  margin-bottom: 100px; }
  .news__section h1 {
    text-align: center;
    color: #4a1a7d; }
  .news__section .news__line {
    width: 120px;
    border-bottom: 2px solid purple;
    margin: 0 auto; }
  .news__section img {
    width: 376px;
    height: 317px; }
  .news__section .news__card-text {
    font-size: 23px;
    width: 296px;
    font-weight: bold;
    margin: 20px; }
  .news__section .news__card {
    background-color: white;
    height: 532px;
    width: 376px;
    border-radius: 10px;
    margin-top: 20px; }
  .news__section .news-card-1 {
    height: 431px;
    padding: 20px 10px;
    height: 431px;
    margin-bottom: 30px; }
    .news__section .news-card-1 .news__card-date {
      margin: 0;
      background-color: #5d58f0; }
  .news__section .news__card-date {
    color: white;
    margin: 20px;
    border-radius: 30px;
    width: 120px;
    background-color: green; }
    .news__section .news__card-date p {
      padding: 5px;
      text-align: center; }
  .news__section .news-card-2 {
    padding: 20px 10px;
    height: 431px;
    margin-bottom: 30px; }
    .news__section .news-card-2 .news__card-date {
      margin: 0;
      background-color: #5d58f0; }
  .news__section .news-card-3 {
    height: 431px;
    margin-bottom: 30px; }
    .news__section .news-card-3 .news__card-date {
      background-color: #f1aa00; }
  .news__section .news-card-4 {
    margin-bottom: 30px; }
    .news__section .news-card-4 .news__card-date {
      background-color: #f1aa00; }
  .news__section .news-card-5 {
    margin-bottom: 30px; }
    .news__section .news-card-5 .news__card-date {
      background-color: #65c8ff; }
  .news__section .news-card-6 .news__card-date {
    background-color: #799f05;
    margin-bottom: 30px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.our-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px; }
  @media (max-width: 1440px) {
    .our-projects .our-projects__container {
      width: 960px; } }
  @media (max-width: 992px) {
    .our-projects .our-projects__container {
      width: 720px; } }
  .our-projects .our-projects__container .our-project__flex__line {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .our-projects .our-projects__container .our-project__flex__line h1 {
      margin-top: 100px;
      text-align: center;
      font-family: "Quicksand", sans-serif;
      font-size: 46px; }
      @media (max-width: 1440px) {
        .our-projects .our-projects__container .our-project__flex__line h1 {
          font-size: 40px; } }
      @media (max-width: 992px) {
        .our-projects .our-projects__container .our-project__flex__line h1 {
          font-size: 35px; } }
    .our-projects .our-projects__container .our-project__flex__line .our-project__line {
      margin-top: 30px;
      margin-bottom: 80px;
      width: 180px;
      background-color: #4a1a7d;
      height: 1px; }
      @media (max-width: 1440px) {
        .our-projects .our-projects__container .our-project__flex__line .our-project__line {
          width: 170px; } }
      @media (max-width: 992px) {
        .our-projects .our-projects__container .our-project__flex__line .our-project__line {
          width: 155px; } }
  .our-projects .our-projects__container .out-projects__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px; }
    @media (max-width: 1440px) {
      .our-projects .our-projects__container .out-projects__flex {
        width: 960px; } }
    @media (max-width: 992px) {
      .our-projects .our-projects__container .out-projects__flex {
        width: 720px; } }
    .our-projects .our-projects__container .out-projects__flex .our-project__flex__item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 360px;
      height: 500px;
      transition-duration: 0.5s;
      background-image: linear-gradient(180deg, #bce6f8 0%, rgba(255, 255, 255, 0) 40%);
      border-style: solid;
      border-width: 1px 1px 1px 1px;
      border-color: #def5ff;
      border-radius: 20px 20px 20px 20px;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05) inset;
      border-radius: 20px; }
      @media (max-width: 1440px) {
        .our-projects .our-projects__container .out-projects__flex .our-project__flex__item {
          width: 300px;
          height: 450px; } }
      @media (max-width: 992px) {
        .our-projects .our-projects__container .out-projects__flex .our-project__flex__item {
          width: 220px;
          height: 420px; } }
      .our-projects .our-projects__container .out-projects__flex .our-project__flex__item h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 26px;
        font-family: "Open Sans", sans-serif; }
        @media (max-width: 1440px) {
          .our-projects .our-projects__container .out-projects__flex .our-project__flex__item h2 {
            font-size: 20px; } }
        @media (max-width: 992px) {
          .our-projects .our-projects__container .out-projects__flex .our-project__flex__item h2 {
            font-size: 17px; } }
      .our-projects .our-projects__container .out-projects__flex .our-project__flex__item svg {
        margin-top: 20px;
        height: 105px;
        width: 105px;
        margin: 0 auto;
        margin-bottom: 25px; }
        @media (max-width: 1440px) {
          .our-projects .our-projects__container .out-projects__flex .our-project__flex__item svg {
            height: 70px;
            width: 70px; } }
        @media (max-width: 992px) {
          .our-projects .our-projects__container .out-projects__flex .our-project__flex__item svg {
            height: 60px;
            width: 60px; } }
      .our-projects .our-projects__container .out-projects__flex .our-project__flex__item p {
        text-align: center;
        font-weight: 400;
        line-height: 2;
        height: 80px;
        color: #7a7a7a; }
        @media (max-width: 1440px) {
          .our-projects .our-projects__container .out-projects__flex .our-project__flex__item p {
            font-size: 14px; } }
        @media (max-width: 992px) {
          .our-projects .our-projects__container .out-projects__flex .our-project__flex__item p {
            font-size: 12px; } }
      .our-projects .our-projects__container .out-projects__flex .our-project__flex__item a {
        text-decoration: none; }
        .our-projects .our-projects__container .out-projects__flex .our-project__flex__item a .our-project__text__blue, .our-projects .our-projects__container .out-projects__flex .our-project__flex__item a .our-project__text__yellow, .our-projects .our-projects__container .out-projects__flex .our-project__flex__item a .our-project__text__purple {
          font-family: "Quicksand", sans-serif;
          margin-top: 30px;
          color: #64c8ff;
          text-align: center;
          font-weight: bold; }
        .our-projects .our-projects__container .out-projects__flex .our-project__flex__item a .our-project__text__purple {
          color: #4a1a7d; }
        .our-projects .our-projects__container .out-projects__flex .our-project__flex__item a .our-project__text__yellow {
          color: #f0aa00; }
      .our-projects .our-projects__container .out-projects__flex .our-project__flex__item:hover {
        transform: translate(0, -20px); }
      .our-projects .our-projects__container .out-projects__flex .our-project__flex__item:first-child:hover {
        background-image: linear-gradient(180deg, #c4e5f3 0%, rgba(255, 255, 255, 0) 40%); }
      .our-projects .our-projects__container .out-projects__flex .our-project__flex__item:nth-child(2) {
        border-color: #fff4dc;
        background-image: linear-gradient(180deg, #f4e5c4 0%, rgba(255, 255, 255, 0) 40%); }
        .our-projects .our-projects__container .out-projects__flex .our-project__flex__item:nth-child(2):hover {
          background-image: linear-gradient(180deg, #ebddbe 0%, rgba(255, 255, 255, 0) 40%); }
      .our-projects .our-projects__container .out-projects__flex .our-project__flex__item:last-child {
        border-color: #f2e8ff;
        background-image: linear-gradient(180deg, #decbf8 0%, rgba(255, 255, 255, 0) 40%); }
        .our-projects .our-projects__container .out-projects__flex .our-project__flex__item:last-child:hover {
          background-image: linear-gradient(180deg, #ddc5fc 0%, rgba(255, 255, 255, 0) 40%); }
  .our-projects .our-projects__container .our-project__flex__button {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .our-projects .our-projects__container .our-project__flex__button .purple__cirlce {
      background-color: #4a1a7d;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 0.5s; }
      @media (max-width: 1440px) {
        .our-projects .our-projects__container .our-project__flex__button .purple__cirlce {
          width: 50px;
          height: 50px; } }
      @media (max-width: 992px) {
        .our-projects .our-projects__container .our-project__flex__button .purple__cirlce {
          width: 45px;
          height: 45px; } }
      .our-projects .our-projects__container .our-project__flex__button .purple__cirlce .icon-left-open, .our-projects .our-projects__container .our-project__flex__button .purple__cirlce .icon-right-open {
        font-size: 24px;
        color: white;
        margin: 0 auto; }
        @media (max-width: 1440px) {
          .our-projects .our-projects__container .our-project__flex__button .purple__cirlce .icon-left-open, .our-projects .our-projects__container .our-project__flex__button .purple__cirlce .icon-right-open {
            font-size: 22px; } }
        @media (max-width: 992px) {
          .our-projects .our-projects__container .our-project__flex__button .purple__cirlce .icon-left-open, .our-projects .our-projects__container .our-project__flex__button .purple__cirlce .icon-right-open {
            font-size: 18px; } }
      .our-projects .our-projects__container .our-project__flex__button .purple__cirlce:hover {
        cursor: pointer;
        background-color: #5d2896; }

.our-values__section {
  display: flex;
  justify-content: center;
  height: 563px;
  background-color: #5f5af0;
  margin-bottom: 100px;
  align-items: center; }
  .our-values__section .our-values__container {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1440px) {
      .our-values__section .our-values__container {
        font-size: 30px; } }
    @media (max-width: 992px) {
      .our-values__section .our-values__container {
        font-size: 24px; } }
    @media (max-width: 1440px) {
      .our-values__section .our-values__container {
        width: 960px; } }
    @media (max-width: 992px) {
      .our-values__section .our-values__container {
        width: 720px; } }
    .our-values__section .our-values__container .our-values__flex {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 1440px) {
        .our-values__section .our-values__container .our-values__flex {
          width: 960px; } }
      @media (max-width: 992px) {
        .our-values__section .our-values__container .our-values__flex {
          width: 720px; } }
      .our-values__section .our-values__container .our-values__flex .our-values__flex__item {
        padding: 35px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 70px; }
        @media (max-width: 1440px) {
          .our-values__section .our-values__container .our-values__flex .our-values__flex__item {
            padding: 25px; } }
        @media (max-width: 992px) {
          .our-values__section .our-values__container .our-values__flex .our-values__flex__item {
            padding: 10px; } }
        .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__title h2 {
          font-size: 36px;
          font-family: "Quicksand", sans-serif;
          color: white;
          margin-bottom: 50px;
          margin-top: 50px;
          margin-left: 10px;
          font-weight: 600; }
          @media (max-width: 1440px) {
            .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__title h2 {
              font-size: 30px; } }
          @media (max-width: 992px) {
            .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__title h2 {
              font-size: 24px; } }
        .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__ten-vales__container {
          width: 700px;
          display: flex;
          justify-content: space-between; }
          @media (max-width: 1440px) {
            .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__ten-vales__container {
              width: 600px; } }
          @media (max-width: 992px) {
            .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__ten-vales__container {
              width: 450px; } }
          .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__ten-vales__container .our-values__ten-vales {
            display: flex;
            flex-direction: column;
            justify-content: center; }
            .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__ten-vales__container .our-values__ten-vales .our-values__text {
              display: flex; }
              .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__ten-vales__container .our-values__ten-vales .our-values__text svg {
                width: 45px;
                height: 45px;
                margin: 5px 20px; }
                @media (max-width: 1440px) {
                  .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__ten-vales__container .our-values__ten-vales .our-values__text svg {
                    width: 40px;
                    height: 40px; } }
                @media (max-width: 992px) {
                  .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__ten-vales__container .our-values__ten-vales .our-values__text svg {
                    width: 30px;
                    height: 30px; } }
              .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__ten-vales__container .our-values__ten-vales .our-values__text p {
                margin-top: 10px;
                font-size: 28px;
                font-family: "Roboto", sans-serif;
                color: white;
                font-weight: 300; }
                @media (max-width: 1440px) {
                  .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__ten-vales__container .our-values__ten-vales .our-values__text p {
                    font-size: 26px; } }
                @media (max-width: 992px) {
                  .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__ten-vales__container .our-values__ten-vales .our-values__text p {
                    font-size: 20px; } }
        .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__img img {
          height: 445px;
          width: 445px; }
          @media (max-width: 1440px) {
            .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__img img {
              height: 325px;
              width: 325px; } }
          @media (max-width: 992px) {
            .our-values__section .our-values__container .our-values__flex .our-values__flex__item .our-values__img img {
              height: 285px;
              width: 285px; } }
        .our-values__section .our-values__container .our-values__flex .our-values__flex__item:last-child {
          margin-bottom: 0; }

.our-partners__section {
  margin-bottom: 100px;
  text-align: center; }
  .our-partners__section .our-partners__line {
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 2px solid purple;
    width: 140px; }
  .our-partners__section p {
    margin-top: 20px; }
  .our-partners__section .our-partners__photos {
    margin: 30px; }
    .our-partners__section .our-partners__photos .our-partnets__photo {
      margin: 0 20px; }
  .our-partners__section .our-partners__buttons .our-partners__button-left {
    margin-right: 3px;
    width: 50px;
    height: 50px;
    border-radius: 90px;
    border: 0;
    background-color: #4a1a7d; }
    .our-partners__section .our-partners__buttons .our-partners__button-left .icon-left-open {
      color: white;
      font-size: 20px; }
  .our-partners__section .our-partners__button-right {
    margin-left: 3px;
    width: 50px;
    height: 50px;
    border-radius: 90px;
    border: 0;
    background-color: #4a1a7d; }
    .our-partners__section .our-partners__button-right .icon-right-open {
      color: white;
      font-size: 20px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.reg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  background-color: #bae7ff; }
  @media (max-width: 1440px) {
    .reg {
      height: 400px; } }
  @media (max-width: 992px) {
    .reg {
      height: 350px; } }
  .reg .reg__container {
    width: 1230px; }
    @media (max-width: 1440px) {
      .reg .reg__container {
        width: 960px; } }
    @media (max-width: 992px) {
      .reg .reg__container {
        width: 720px; } }
    .reg .reg__container .reg__grid {
      display: flex;
      justify-content: space-between; }
      .reg .reg__container .reg__grid .reg__grid__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 290px;
        height: 290px;
        transition-duration: 0.5s;
        border-radius: 25px; }
        @media (max-width: 1440px) {
          .reg .reg__container .reg__grid .reg__grid__item {
            width: 200px; } }
        @media (max-width: 992px) {
          .reg .reg__container .reg__grid .reg__grid__item {
            width: 150px;
            height: 200px; } }
        .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue {
          cursor: pointer;
          margin: 0 auto;
          width: 124px;
          height: 124px;
          padding: 32px;
          border-radius: 50%;
          margin-bottom: 15px;
          transition-duration: 0.5s;
          padding: 40px;
          display: flex;
          justify-content: center;
          align-items: center; }
          @media (max-width: 1440px) {
            .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue {
              width: 110px;
              height: 110px; } }
          @media (max-width: 992px) {
            .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue {
              width: 100px;
              height: 100px; } }
          .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow a, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple a, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green a, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue a {
            text-decoration: none;
            color: white; }
            .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue a svg {
              width: 60px;
              height: 60px; }
              @media (max-width: 1440px) {
                .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue a svg {
                  width: 50px;
                  height: 50px; } }
              @media (max-width: 992px) {
                .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue a svg {
                  width: 45px;
                  height: 45px; } }
        .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow {
          background-color: #f0aa00; }
        .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple {
          background-color: #4a1a7d; }
        .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green {
          background-color: #04ab35; }
        .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue {
          background-color: #1293da; }
        .reg .reg__container .reg__grid .reg__grid__item a {
          text-decoration: none;
          color: black; }
          .reg .reg__container .reg__grid .reg__grid__item a p {
            text-align: center;
            font-size: 23px;
            font-family: "Kurale", serif;
            margin-bottom: 25px; }
            @media (max-width: 1440px) {
              .reg .reg__container .reg__grid .reg__grid__item a p {
                font-size: 20px; } }
            @media (max-width: 992px) {
              .reg .reg__container .reg__grid .reg__grid__item a p {
                font-size: 16px; } }
        .reg .reg__container .reg__grid .reg__grid__item:hover {
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
          .reg .reg__container .reg__grid .reg__grid__item:hover .reg__foto__green, .reg .reg__container .reg__grid .reg__grid__item:hover .reg__foto__yellow, .reg .reg__container .reg__grid .reg__grid__item:hover .reg__foto__purple, .reg .reg__container .reg__grid .reg__grid__item:hover .reg__foto__blue {
            transform: translate(0, -10px); }

.reviews__section h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px; }
.reviews__section .reviews__section-line {
  width: 120px;
  border-bottom: 2px solid purple;
  margin: 0 auto; }
.reviews__section .reviews__section-container {
  height: 700px;
  color: white;
  margin-top: 20px;
  display: flex;
  justify-content: center; }
  .reviews__section .reviews__section-container .reviews__section-qoute {
    background-color: #4a1a7d;
    border-radius: 20px;
    padding: 20px;
    width: 431px;
    height: 628px; }
    .reviews__section .reviews__section-container .reviews__section-qoute .reviews__section-qoute-name {
      font-weight: bold; }
    .reviews__section .reviews__section-container .reviews__section-qoute .reviews__section-qoute-short-info {
      font-style: italic; }
  .reviews__section .reviews__section-container .reviews__section-photos {
    margin-left: 30px;
    width: 431px;
    height: 442px;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr); }
    .reviews__section .reviews__section-container .reviews__section-photos .reviews__section-photo img {
      width: 110px;
      height: 110px;
      margin: 20px;
      border-radius: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.title-img__section {
  background-image: url(../img/title-img.png);
  background-size: cover;
  display: flex;
  justify-content: center; }
  .title-img__section .title-img__container {
    height: 800px;
    width: 1200px; }
    @media (max-width: 1440px) {
      .title-img__section .title-img__container {
        width: 960px;
        height: 750px; } }
    @media (max-width: 992px) {
      .title-img__section .title-img__container {
        width: 720px;
        height: 700px; } }
    .title-img__section .title-img__container .title-img__flex {
      margin-top: 135px;
      display: flex;
      justify-content: flex-end; }
      .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 h2 {
        font-family: "Kurale", serif;
        font-size: 66px;
        font-weight: 400;
        margin-bottom: 15px;
        color: black; }
        @media (max-width: 1440px) {
          .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 h2 {
            font-size: 60px;
            margin-bottom: 15px; } }
        @media (max-width: 992px) {
          .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 h2 {
            font-size: 50px;
            margin-bottom: 15px; } }
      .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container {
        width: 605px;
        height: 217px;
        margin-left: 70px; }
        @media (max-width: 1440px) {
          .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container {
            width: 580px;
            height: 217px; } }
        @media (max-width: 992px) {
          .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container {
            width: 500px;
            height: 217px; } }
        .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__text__item {
          display: flex;
          flex-direction: row; }
          .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__text__item i {
            color: black;
            font-size: 26px;
            margin-right: 5px; }
            @media (max-width: 1440px) {
              .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__text__item i {
                font-size: 26px; } }
            @media (max-width: 992px) {
              .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__text__item i {
                font-size: 26px; } }
          .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__text__item p {
            color: black;
            font-family: "Kurale", serif;
            font-size: 20px; }
            @media (max-width: 1440px) {
              .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__text__item p {
                font-size: 18px; } }
            @media (max-width: 992px) {
              .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__text__item p {
                font-size: 16px; } }
        .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__flex__button {
          align-self: center;
          display: flex;
          justify-content: center; }
          .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__flex__button .title__img__button {
            margin-top: 20px;
            background-color: #4a1a7d;
            border-radius: 50px;
            height: 50px;
            width: 188px;
            font-size: 20px;
            transition-duration: 0.3s; }
            @media (max-width: 1440px) {
              .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__flex__button .title__img__button {
                height: 45px;
                width: 160px; } }
            @media (max-width: 992px) {
              .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__flex__button .title__img__button {
                height: 40px;
                width: 150px; } }
            .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__flex__button .title__img__button a {
              text-decoration: none; }
            .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__flex__button .title__img__button p {
              color: white;
              padding: 10px;
              font-family: "Kurale", serif;
              text-align: center;
              margin: 0 auto; }
              @media (max-width: 1440px) {
                .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__flex__button .title__img__button p {
                  font-size: 16px; } }
              @media (max-width: 992px) {
                .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__flex__button .title__img__button p {
                  font-size: 14px; } }
            .title-img__section .title-img__container .title-img__flex .title-img__flex__item2 .title-img__text__container .title-img__flex__button .title__img__button:hover {
              background-color: black; }
      .title-img__section .title-img__container .title-img__flex .title-img__flex__slider .title-img__flex__slider__container {
        margin-top: 275px;
        margin-left: 100px; }
        @media (max-width: 1440px) {
          .title-img__section .title-img__container .title-img__flex .title-img__flex__slider .title-img__flex__slider__container {
            margin-top: 255px;
            margin-left: 175px; } }
        @media (max-width: 992px) {
          .title-img__section .title-img__container .title-img__flex .title-img__flex__slider .title-img__flex__slider__container {
            margin-top: 225px;
            margin-left: 200px; } }
        .title-img__section .title-img__container .title-img__flex .title-img__flex__slider .title-img__flex__slider__container i {
          color: #4a1a7d;
          transition-duration: 0.4s; }
          .title-img__section .title-img__container .title-img__flex .title-img__flex__slider .title-img__flex__slider__container i:hover {
            color: black;
            cursor: pointer; }

.total__info {
  margin-top: 100px; }
  .total__info svg {
    height: 50px;
    width: 50px;
    -webkit-transform: rotate(315deg); }
  .total__info .total__info-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }

.tota-info__img-1 {
  background-color: #64c7fe; }

.tota-info__img-2 {
  background-color: #9bbd33; }

.tota-info__img-3 {
  background-color: #ff3076; }

.tota-info__img-4 {
  background-color: #8700ff; }

.tota-info__img-1, .tota-info__img-2, .tota-info__img-3, .tota-info__img-4 {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 20px;
  -webkit-transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; }

.total-info__number {
  font-size: 35px; }

.tota-info__img-1:hover, .tota-info__img-2:hover, .tota-info__img-3:hover, .tota-info__img-4:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header-menu__section {
  display: flex;
  justify-content: center; }
  .header-menu__section .header-menu__container {
    width: 1230px; }
    @media (max-width: 1440px) {
      .header-menu__section .header-menu__container {
        width: 960px;
        height: 110px; } }
    @media (max-width: 992px) {
      .header-menu__section .header-menu__container {
        width: 750px;
        height: 100px; } }
    .header-menu__section .header-menu__container .header-menu__flex {
      height: 135px;
      display: flex;
      align-items: center; }
      @media (max-width: 1440px) {
        .header-menu__section .header-menu__container .header-menu__flex {
          height: 110px; } }
      @media (max-width: 992px) {
        .header-menu__section .header-menu__container .header-menu__flex {
          height: 100px; } }
      .header-menu__section .header-menu__container .header-menu__flex .header-menu__flex__item img {
        width: 114px;
        margin-right: 30px; }
        @media (max-width: 1440px) {
          .header-menu__section .header-menu__container .header-menu__flex .header-menu__flex__item img {
            width: 90px;
            margin-right: 20px; } }
        @media (max-width: 992px) {
          .header-menu__section .header-menu__container .header-menu__flex .header-menu__flex__item img {
            width: 80px;
            margin-right: 15px; } }
      .header-menu__section .header-menu__container .header-menu__flex .header-menu__flex__item .header-menu__menu ul {
        width: 1116px;
        display: flex;
        justify-content: center;
        list-style-type: none; }
        @media (max-width: 1440px) {
          .header-menu__section .header-menu__container .header-menu__flex .header-menu__flex__item .header-menu__menu ul {
            width: 860px; } }
        @media (max-width: 992px) {
          .header-menu__section .header-menu__container .header-menu__flex .header-menu__flex__item .header-menu__menu ul {
            width: 680px; } }
        .header-menu__section .header-menu__container .header-menu__flex .header-menu__flex__item .header-menu__menu ul li a {
          padding: 25px 4px;
          margin-right: 15px;
          font-family: "Raleway", sans-serif;
          font-weight: 600;
          text-decoration: none;
          color: #4a1a7d;
          text-align: center; }
          @media (max-width: 1440px) {
            .header-menu__section .header-menu__container .header-menu__flex .header-menu__flex__item .header-menu__menu ul li a {
              padding: 25px 0px;
              margin-right: 12px;
              font-size: 13px; } }
          @media (max-width: 992px) {
            .header-menu__section .header-menu__container .header-menu__flex .header-menu__flex__item .header-menu__menu ul li a {
              padding: 25px 0px;
              margin-right: 6px;
              font-size: 10px; } }
          .header-menu__section .header-menu__container .header-menu__flex .header-menu__flex__item .header-menu__menu ul li a:hover {
            border-bottom: 4px solid #4a1a7d; }
        .header-menu__section .header-menu__container .header-menu__flex .header-menu__flex__item .header-menu__menu ul li:last-child {
          margin-right: 0; }

/*# sourceMappingURL=main.css.map */
