.news__section {
  background-color: #bae7ff;
  margin-bottom: 100px; }
  .news__section h1 {
    text-align: center;
    color: #4a1a7d; }
    @media (max-width: 576px) {
      .news__section h1 {
        font-size: 15px; } }
  .news__section .news__line {
    width: 120px;
    border-bottom: 2px solid purple;
    margin: 0 auto; }
  .news__section img {
    width: 376px;
    height: 317px; }
    @media (max-width: 576px) {
      .news__section img {
        width: 200px;
        height: 200px;
        margin-bottom: 5px; } }
  .news__section .news-line-one {
    margin: 0 auto; }
  .news__section .news__card-text {
    font-size: 23px;
    width: 296px;
    font-weight: bold;
    margin: 20px; }
  .news__section .news__card {
    margin: 0 auto;
    background-color: white;
    height: 482px;
    width: 376px;
    border-radius: 10px;
    margin-top: 20px; }
  .news__section .news-card-1 {
    height: 431px;
    padding: 20px 10px;
    margin-bottom: 30px; }
    @media (max-width: 576px) {
      .news__section .news-card-1 {
        margin-bottom: 10px;
        height: 300px;
        width: 240px; } }
    .news__section .news-card-1 .news__card-date {
      margin: 0;
      background-color: #5d58f0; }
      @media (max-width: 576px) {
        .news__section .news-card-1 .news__card-date p {
          font-size: 9px; } }
    @media (max-width: 576px) {
      .news__section .news-card-1 .news__card-text {
        font-size: 11px;
        margin: 10px;
        width: 200px; } }
  .news__section .news__card-date {
    color: white;
    margin: 20px;
    border-radius: 30px;
    width: 120px;
    background-color: green; }
    .news__section .news__card-date p {
      padding: 5px;
      text-align: center; }
  .news__section .news-card-2 {
    height: 431px;
    padding: 20px 10px;
    margin-bottom: 30px; }
    @media (max-width: 576px) {
      .news__section .news-card-2 {
        margin-bottom: 10px;
        height: 300px;
        width: 240px; } }
    .news__section .news-card-2 .news__card-date {
      margin: 0;
      background-color: #5d58f0; }
      @media (max-width: 576px) {
        .news__section .news-card-2 .news__card-date p {
          font-size: 9px; } }
    @media (max-width: 576px) {
      .news__section .news-card-2 .news__card-text {
        font-size: 11px;
        margin: 10px;
        width: 200px; } }
  .news__section .news-card-3 {
    height: 431px;
    padding: 20px 10px;
    margin-bottom: 30px; }
    @media (max-width: 576px) {
      .news__section .news-card-3 {
        margin-bottom: 10px;
        height: 300px;
        width: 240px; } }
    .news__section .news-card-3 .news__card-date {
      margin: 0;
      background-color: #5d58f0; }
      @media (max-width: 576px) {
        .news__section .news-card-3 .news__card-date p {
          font-size: 9px; } }
    @media (max-width: 576px) {
      .news__section .news-card-3 .news__card-text {
        font-size: 11px;
        margin: 10px;
        width: 200px; } }
  .news__section .news-card-4 {
    height: 431px;
    padding: 20px 10px;
    margin-bottom: 30px; }
    @media (max-width: 576px) {
      .news__section .news-card-4 {
        margin-bottom: 10px;
        height: 300px;
        width: 240px; } }
    .news__section .news-card-4 .news__card-date {
      margin: 0;
      background-color: #5d58f0; }
      @media (max-width: 576px) {
        .news__section .news-card-4 .news__card-date p {
          font-size: 9px; } }
    @media (max-width: 576px) {
      .news__section .news-card-4 .news__card-text {
        font-size: 11px;
        margin: 10px;
        width: 200px; } }
  .news__section .news-card-5 {
    height: 431px;
    padding: 20px 10px;
    margin-bottom: 30px; }
    @media (max-width: 576px) {
      .news__section .news-card-5 {
        margin-bottom: 10px;
        height: 300px;
        width: 240px; } }
    .news__section .news-card-5 .news__card-date {
      margin: 0;
      background-color: #5d58f0; }
      @media (max-width: 576px) {
        .news__section .news-card-5 .news__card-date p {
          font-size: 9px; } }
    @media (max-width: 576px) {
      .news__section .news-card-5 .news__card-text {
        font-size: 11px;
        margin: 10px;
        width: 200px; } }
  .news__section .news-card-6 {
    height: 431px;
    padding: 20px 10px;
    margin-bottom: 30px; }
    @media (max-width: 576px) {
      .news__section .news-card-6 {
        margin-bottom: 10px;
        height: 300px;
        width: 240px; } }
    .news__section .news-card-6 .news__card-date {
      margin: 0;
      background-color: #5d58f0; }
      @media (max-width: 576px) {
        .news__section .news-card-6 .news__card-date p {
          font-size: 9px; } }
    @media (max-width: 576px) {
      .news__section .news-card-6 .news__card-text {
        font-size: 11px;
        margin: 10px;
        width: 200px; } }

/*# sourceMappingURL=news.css.map */
