* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.reg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  background-color: #bae7ff; }
  @media (max-width: 1440px) {
    .reg {
      height: 400px; } }
  @media (max-width: 992px) {
    .reg {
      height: 350px; } }
  @media (max-width: 775px) {
    .reg {
      height: 250px; } }
  .reg .reg__container {
    width: 1230px; }
    @media (max-width: 1440px) {
      .reg .reg__container {
        width: 960px; } }
    @media (max-width: 992px) {
      .reg .reg__container {
        width: 720px; } }
    @media (max-width: 775px) {
      .reg .reg__container {
        width: 570px; } }
    @media (max-width: 576px) {
      .reg .reg__container {
        width: 400px; } }
    .reg .reg__container .reg__grid {
      display: flex;
      justify-content: space-between; }
      .reg .reg__container .reg__grid .reg__grid__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 290px;
        height: 290px;
        transition-duration: 0.5s;
        border-radius: 25px; }
        @media (max-width: 1440px) {
          .reg .reg__container .reg__grid .reg__grid__item {
            width: 200px; } }
        @media (max-width: 992px) {
          .reg .reg__container .reg__grid .reg__grid__item {
            width: 150px;
            height: 200px; } }
        @media (max-width: 775px) {
          .reg .reg__container .reg__grid .reg__grid__item {
            width: 125px;
            height: 175px; } }
        @media (max-width: 576px) {
          .reg .reg__container .reg__grid .reg__grid__item {
            width: 65px;
            height: 150px; } }
        .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue {
          cursor: pointer;
          margin: 0 auto;
          width: 124px;
          height: 124px;
          padding: 32px;
          border-radius: 50%;
          margin-bottom: 15px;
          transition-duration: 0.5s;
          padding: 40px;
          display: flex;
          justify-content: center;
          align-items: center; }
          @media (max-width: 1440px) {
            .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue {
              width: 110px;
              height: 110px; } }
          @media (max-width: 992px) {
            .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue {
              width: 100px;
              height: 100px; } }
          @media (max-width: 775px) {
            .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue {
              width: 75px;
              height: 75px; } }
          @media (max-width: 576px) {
            .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue {
              width: 60px;
              height: 60px;
              padding: 20px; } }
          .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow a, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple a, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green a, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue a {
            text-decoration: none;
            color: white; }
            .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue a svg {
              width: 60px;
              height: 60px; }
              @media (max-width: 1440px) {
                .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue a svg {
                  width: 50px;
                  height: 50px; } }
              @media (max-width: 992px) {
                .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue a svg {
                  width: 45px;
                  height: 45px; } }
              @media (max-width: 775px) {
                .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue a svg {
                  width: 40px;
                  height: 40px; } }
              @media (max-width: 576px) {
                .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green a svg, .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue a svg {
                  width: 30px;
                  height: 30px; } }
        .reg .reg__container .reg__grid .reg__grid__item .reg__foto__yellow {
          background-color: #f0aa00; }
        .reg .reg__container .reg__grid .reg__grid__item .reg__foto__purple {
          background-color: #4a1a7d; }
        .reg .reg__container .reg__grid .reg__grid__item .reg__foto__green {
          background-color: #04ab35; }
        .reg .reg__container .reg__grid .reg__grid__item .reg__foto__blue {
          background-color: #1293da; }
        .reg .reg__container .reg__grid .reg__grid__item a {
          text-decoration: none;
          color: black; }
          .reg .reg__container .reg__grid .reg__grid__item a p {
            text-align: center;
            font-size: 23px;
            font-family: "Kurale", serif;
            margin-bottom: 25px; }
            @media (max-width: 1440px) {
              .reg .reg__container .reg__grid .reg__grid__item a p {
                font-size: 20px; } }
            @media (max-width: 992px) {
              .reg .reg__container .reg__grid .reg__grid__item a p {
                font-size: 16px;
                margin-bottom: 20px; } }
            @media (max-width: 775px) {
              .reg .reg__container .reg__grid .reg__grid__item a p {
                font-size: 14px;
                margin-bottom: 0px;
                height: 60px; } }
            @media (max-width: 576px) {
              .reg .reg__container .reg__grid .reg__grid__item a p {
                font-size: 10px; } }
        .reg .reg__container .reg__grid .reg__grid__item:hover {
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
          .reg .reg__container .reg__grid .reg__grid__item:hover .reg__foto__green, .reg .reg__container .reg__grid .reg__grid__item:hover .reg__foto__yellow, .reg .reg__container .reg__grid .reg__grid__item:hover .reg__foto__purple, .reg .reg__container .reg__grid .reg__grid__item:hover .reg__foto__blue {
            transform: translate(0, -10px); }

/*# sourceMappingURL=reg.css.map */
