.reviews__section h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px; }
  @media (max-width: 576px) {
    .reviews__section h1 {
      font-size: 20px; } }
.reviews__section .reviews__section-line {
  width: 120px;
  border-bottom: 2px solid purple;
  margin: 0 auto; }
  @media (max-width: 576px) {
    .reviews__section .reviews__section-line {
      width: 80px; } }
.reviews__section .reviews__section-container {
  height: 700px;
  color: white;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1440px) {
    .reviews__section .reviews__section-container {
      width: 960px; } }
  @media (max-width: 992px) {
    .reviews__section .reviews__section-container {
      width: 720px;
      display: flex;
      flex-direction: column;
      height: 1200px; } }
  @media (max-width: 775px) {
    .reviews__section .reviews__section-container {
      width: 570px;
      height: 1000px; } }
  @media (max-width: 576px) {
    .reviews__section .reviews__section-container {
      width: 250px;
      height: 700px; } }
  .reviews__section .reviews__section-container .reviews__section-qoute {
    background-color: #4a1a7d;
    border-radius: 20px;
    padding: 20px;
    width: 431px;
    height: 628px; }
    @media (max-width: 576px) {
      .reviews__section .reviews__section-container .reviews__section-qoute {
        width: 270px;
        height: 340px;
        margin-bottom: 40px; } }
    .reviews__section .reviews__section-container .reviews__section-qoute .reviews__section-qoute-name {
      font-weight: bold; }
      @media (max-width: 576px) {
        .reviews__section .reviews__section-container .reviews__section-qoute .reviews__section-qoute-name {
          font-size: 14px; } }
    .reviews__section .reviews__section-container .reviews__section-qoute .reviews__section-qoute-short-info {
      font-style: italic; }
      @media (max-width: 576px) {
        .reviews__section .reviews__section-container .reviews__section-qoute .reviews__section-qoute-short-info {
          font-size: 11px;
          margin-bottom: 5px; } }
    .reviews__section .reviews__section-container .reviews__section-qoute .reviews__section-qoute-info {
      font-style: italic; }
      @media (max-width: 576px) {
        .reviews__section .reviews__section-container .reviews__section-qoute .reviews__section-qoute-info {
          font-size: 9px; } }
  .reviews__section .reviews__section-container .reviews__section-photos {
    margin-left: 30px;
    width: 431px;
    height: 442px;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr); }
    @media (max-width: 992px) {
      .reviews__section .reviews__section-container .reviews__section-photos {
        margin-left: 0; } }
    @media (max-width: 576px) {
      .reviews__section .reviews__section-container .reviews__section-photos {
        width: 240px;
        height: 310px; } }
    @media (max-width: 576px) {
      .reviews__section .reviews__section-container .reviews__section-photos .reviews__section-photo {
        width: 70px;
        height: 70px; } }
    .reviews__section .reviews__section-container .reviews__section-photos .reviews__section-photo img {
      width: 110px;
      height: 110px;
      margin: 20px;
      border-radius: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
      @media (max-width: 576px) {
        .reviews__section .reviews__section-container .reviews__section-photos .reviews__section-photo img {
          width: 70px;
          height: 70px;
          margin: 5px; } }

/*# sourceMappingURL=reviews.css.map */
