footer {
    background-color: #4a1a7d;
    .footer__container{
        margin: 0 auto;

    
    .footer_row{
        margin: 0 auto;
    }
    p {
        color: white;
    }
    h5 {
        margin-top: 100px;
        color: white;
        margin-bottom: 50px;
        font-weight: bold;
    }

    h6 {
        color: white;
    }
    .column-1 {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 100px;
            height: 100px;
        }
        h6 {
            margin: 20px 0;
        }
        .footer-social__flex {
            display: flex;
            padding-top: 40px;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                width: 50px;
                height: 50px;
                padding: 5px;

                i {
                    color: white;
                    font-size: 24px;
                }
            }
            .footer-social__flex-facebook {
                span {
                    background-color: #3b5998;
                }
            }
            .footer-social__flex-inst {
                margin: 0 20px;
                span {
                    background-color: #cf1384;
                }
            }
            .footer-social__flex-youtube {
                span {
                    background-color: red;
                }
            }
        }
    }
    .column-2 {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        ul {
            padding: 0;
            list-style: inside;
            color: white;
            li {
                padding: 5px 0;
            }
            ul:first-child {
                padding: 0;
            }
            a {
                text-decoration: none;
                color: white;
                padding: 0;
            }
        }
    }
    .column-3 {
   
        .footer__news-1 {
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .footer__news-div {
                display: flex;
                justify-content: center;
                text-align: center;
                img {
                    width: 50px;
                    height: 50px;
                    margin-right: 20px;
                }
                p {
                    width: 170px;
                }
            }
            
        }
        .footer__flex-news-2 {
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .footer__news-div {
                display: flex;
                justify-content: center;
                img {
                    width: 50px;
                    height: 50px;
                    margin-right: 20px;
                }
                p {
                    width: 170px;
                }
            }
        }
    }

    .column-4{
        margin: 0 auto;
    }
    }
    
}