$opensans-font: "Open Sans", sans-serif;
$quicksand-font: "Quicksand", sans-serif;
$roboto-font: "Roboto", sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.out-projects {

    .out-projects__container {

        h1{

        }
        .our-project__flex__line {

            .our-project__line {

            }
        }
        .out-projects__flex {

            .our-project__flex__item {

                img{

                }
                p{

                }
                a{
                    
                    p{

                    }
                }
            }
        }
        .our-project__flex__button {

            .icon-left-open {

            }
            .icon-right-open {

            }
        }
    }
}   








