$Kurale-font: "Kurale", serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.reg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 440px;
    background-color: #bae7ff;
    @media (max-width:1440px) {
        height: 400px;
    }
    @media (max-width:992px) {
        height: 350px;
    }
    @media (max-width:775px) {
        height: 250px;
    }
    .reg__container {
        width: 1230px;
        @media (max-width:1440px) {
            width: 960px;
        }
        @media (max-width:992px) {
            width: 720px;
        }
        @media (max-width:775px) {
            width: 570px;
        }
        @media (max-width:576px) {
            width: 400px;
        }
        .reg__grid {
            display: flex;
            justify-content: space-between;
            .reg__grid__item {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 290px;
                height: 290px;
                transition-duration: 0.5s;
                border-radius: 25px;    
                @media (max-width:1440px) {
                    width: 200px;
                }
                @media (max-width:992px) {
                    width: 150px;
                    height: 200px;
                }
                @media (max-width:775px) {
                    width: 125px;
                    height: 175px;
                }
                @media (max-width:576px) {
                    width: 65px;
                    height: 150px;
                }
                .reg__foto__yellow,.reg__foto__purple, .reg__foto__green,.reg__foto__blue{
                    cursor: pointer;
                    margin: 0 auto;
                    width: 124px;
                    height: 124px;
                    padding: 32px;
                    border-radius: 50%;
                    margin-bottom: 15px;
                    transition-duration: 0.5s;
                    padding: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media (max-width:1440px) {
                        width: 110px;
                        height: 110px;
                    }
                    @media (max-width:992px) {
                        width: 100px;
                        height: 100px;
                    }
                    @media (max-width:775px) {
                        width: 75px;
                        height: 75px;
                                                
                    }
                    @media (max-width:576px) {
                        width: 60px;
                        height: 60px;
                        padding: 20px;
                    }
                    a{
                        text-decoration: none;
                        color: white;
                        svg{
                            width: 60px;
                            height: 60px;
                            @media (max-width:1440px) {
                                width: 50px;
                                height: 50px;
                            }
                            @media (max-width:992px) {
                                width: 45px;
                                height: 45px;
                            }
                            @media (max-width:775px) {
                                width: 40px;
                                height: 40px;
                            }
                            @media (max-width:576px) {
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
                .reg__foto__yellow{
                    background-color: #f0aa00;
                }
                .reg__foto__purple{
                    background-color: #4a1a7d;
                }
                .reg__foto__green{
                    background-color: #04ab35;
                }
                .reg__foto__blue{
                    background-color: #1293da;
                }
                a {
                    text-decoration: none;
                    color: black;
                    p {
                        text-align: center;
                        font-size: 23px;
                        font-family: $Kurale-font; 
                        margin-bottom: 25px;
                        @media (max-width:1440px) {
                            font-size: 20px; 
                        }
                        @media (max-width:992px) {
                            font-size: 16px;
                            margin-bottom: 20px;
                        }
                        @media (max-width:775px) {
                            font-size: 14px;
                            margin-bottom: 0px;
                            height: 60px;
                        }
                        @media (max-width:576px) {
                            font-size: 10px;
                        }
                    }
                }
                &:hover{
                    background-color: white;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    .reg__foto__green, .reg__foto__yellow, .reg__foto__purple, .reg__foto__blue{
                        transform: translate(0, -10px);

                    }  
                }  
            }
        }
    }
}